
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: cadetblue;
    margin: 0;
    padding: 0px;
}
.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
    font-size: 75px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}
header {
    background: white;
    padding: 10px;
    min-width: 5000px;
}
header > h1 {
    color: black;
    text-align: center;
}




.interface {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 150px;
    padding: 30px;
    cursor: pointer;
}

#rock, #paper, #scissors {
    border: 2px solid black;
    border-radius: 4px;
    padding: 50px;
}

#gameresult {
    display: flex;
    padding: 0px;
    font-size: 55px;
}

